body {
margin: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: #21323a;
color: #ffffff;
}
header {
background-color: #000000;
color: rgb(63, 115, 228);
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 2.3em;
letter-spacing: 1px;
border-bottom: 2px solid #0984e3;
}
.containers {
display: flex;
justify-self: center;
}
.misiones-container {
max-width: 1000px;
margin: 40px auto;
padding: 0 20px;
}
.vehiculos-container {
max-width: 1000px;
margin: 40px auto;
padding: 0 20px;
}
.panel {
background-color: #1d2430;
border: 2px solid #0984e3;
border-radius: 7px;;
padding: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.05);
margin-bottom: 30px;
height: 500px;
}
h2 {
margin-top: 0;
color: #0984e3;
font-size: 2em;
}
.input-group {
display: grid;
grid-template-columns: 1fr 1fr auto;
gap: 10px;
margin-top: 10px;
margin-bottom: 15px;
}
input {
background-color: #505455;
padding: 10px;
border: 1px solid #b2bec3;
border-radius: 6px;
font-size: 1em;
width: 300px;
margin-bottom: 10px;
}
button {
background-color: #0984e3;
color: white;
border: none;
padding: 10px;
border-radius: 6px;
cursor: pointer;
font-weight: bold;
font-size: 1em;
}
button:hover {
background-color: #74b9ff;
}
.card {
background-color: #3b4a4e;
border: 2px solid #0984e3;
padding: 15px;
margin-bottom: 10px;
margin-top: 10px;
border-radius: 8px;
display: flex;
justify-content: space-between;
align-items: center;
}
.actions button {
background-color: transparent;
color: #0984e3;
border: none;
margin-left: 10px;
font-size: 1.1em;
cursor: pointer;
}
.actions button:hover {
color: #2d3436;
}
@media (max-width: 768px) {
.input-group {
grid-template-columns: 1fr;
}
}
footer {
bottom: 0;
position: absolute;
width: 100%;
background-color: #000000;
color: rgb(63, 115, 228);
padding: 20px;
text-align: center;
font-size: 1em;
border-top: 2px solid #0984e3;
}